.profile {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  text-align: center;
  width: 90%;
}

.profile h1 {
  font-size: 5rem;
}

.changepass {
  margin: 0 auto;

  width: 35rem;
  padding: 2rem;
}

.pro {
  margin: 0 auto;
  width: 35rem;
  padding: 2rem;
}

.border {
  border-left: 1px solid rgb(185, 183, 183);
}
