.profile {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  text-align: center;
  width: 90%;
}

.profile h1 {
  font-size: 5rem;
}

.changepass {
  margin: 0 auto;

  width: 35rem;
  padding: 2rem;
}

.pro {
  margin: 0 auto;
  width: 35rem;
  padding: 2rem;
}

.border {
  border-left: 1px solid rgb(185, 183, 183);
}
@media (max-width: 768px) {
  .profile {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 1rem 0;
  }
  .pro {
    margin: 0 auto;
    width: 25rem;
    padding: 2rem;
  }
  .changepass {
    margin: 1rem auto;

    width: 25rem;
    padding: 2rem;
  }
}
