.container {
  margin: 1rem auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.label {
  display: block;
  margin: 1rem;
  font-weight: 600;
  font-size: 28px;
}

.form input {
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid rgb(110, 110, 110);
  padding: 1rem;
  width: 50%;
}
.icon {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 3.4rem;
  color: rgb(117, 115, 115);
  padding: 1rem;
  border-bottom: 1px solid rgb(110, 110, 110);
}

.form input :hover,
.form input:focus,
.form input:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(110, 110, 110);
}
